{% extends 'shop/base.html' %}
    <body>
          {% block content %}
            


                <!-- checkout-area start -->
                <div class="checkout-area ptb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="coupon-accordion">
                                <!-- ACCORDION START -->
                                <h3><span id="showlogin">Нажмите здесь, чтобы войти в систему</span></h3>
                                <div id="checkout-login" class="coupon-content">
                                    <div class="coupon-info">
                                        <p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
                                        <form action="#">
                                            <p class="form-row-first">
                                                <label>Username or email <span class="required">*</span></label>
                                                <input type="text" />
                                            </p>
                                            <p class="form-row-last">
                                                <label>Password  <span class="required">*</span></label>
                                                <input type="text" />
                                            </p>
                                            <p class="form-row">					
                                                <input type="submit" value="Login" />
                                                <label>
                                                    <input type="checkbox" />
                                                     Remember me 
                                                </label>
                                            </p>
                                            <p class="lost-password">
                                                <a href="#">Lost your password?</a>
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <!-- ACCORDION END -->	
                                <!-- ACCORDION START -->
                                <h3>У вас есть купон? <span id="showcoupon">Нажмите здесь, чтобы ввести свой код</span></h3>
                                <div id="checkout_coupon" class="coupon-checkout-content">
                                    <div class="coupon-info">
                                        <form action="#">
                                            <p class="checkout-coupon">
                                                <input type="text" placeholder="Coupon code" />
                                                <input type="submit" value="Apply Coupon" />
                                            </p>
                                        </form>
                                    </div>
                                </div>
                                <!-- ACCORDION END -->						
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <div class="your-order">
                                <h3>ВАШ ЗАКАЗ</h3>
                                <div class="your-order-table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-name">Продукт</th>
                                                <th class="product-total">Цена</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <div class="order-info">


                                                <tr class="cart_item">
                                                        {% for item in cart %}


                                                            <td class="product-name">
                                                               <strong> {{ item.product.name }} ({{ item.quantity }}x)</strong>
                                                            </td>
                                                                <td class="product-total">
                                                                <span>${{ item.total_price }} </span>
                                                                </td>
                                                            {% for item in org %}
                                                                <td>
                                                                    <span>{{ item.name_org }}</span>
                                                                </td>
                                                                {% endfor %}

                                                            </li>
                                                </tr>

                                                     {% endfor %}
                                        </tbody>
                                        <tfoot>
                                            <tr class="cart-subtotal">
                                                <th>ИТОГО В КОРЗИНЕ</th>
                                                <td><span class="amount">£{{ cart.get_total_price }}</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th><strong> ИТОГОВАЯ СТОИМОСТЬ</strong></th>
                                                <td><strong><span class="amount">£{{ cart.get_total_price }}</span></strong>
                                                </td>

                                            </tr>

                                        </tfoot>
                                    </table>

                                </div>
                                <div class="payment-method">
                                    <div class="payment-accordion">
                                        <div class="panel-group" id="faq">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title"><a data-toggle="collapse" aria-expanded="true" data-parent="#faq" href="#payment-1">Банковский Перевод.</a></h5>
                                                </div>
                                                <div id="payment-1" class="panel-collapse collapse show">
                                                    <div class="panel-body">
                                                        <p>Произведите платеж непосредственно на свой банковский счет. Пожалуйста, используйте свой идентификатор заказа в качестве ссылки на оплату. Ваш заказ не будет отправлен до тех пор, пока средства не будут переведены на наш счет.</p>
                                                    </div>
                                                </div>
                                            </div>
{#                                            <div class="panel panel-default">#}
{#                                                <div class="panel-heading">#}
{#                                                    <h5 class="panel-title"><a class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#faq" href="#payment-2">Cheque Payment</a></h5>#}
{#                                                </div>#}
{#                                                <div id="payment-2" class="panel-collapse collapse">#}
{#                                                    <div class="panel-body">#}
{#                                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="panel panel-default">#}
{#                                                <div class="panel-heading">#}
{#                                                    <h5 class="panel-title"><a class="collapsed" data-toggle="collapse" aria-expanded="false" data-parent="#faq" href="#payment-3">PayPal</a></h5>#}
{#                                                </div>#}
{#                                                <div id="payment-3" class="panel-collapse collapse">#}
{#                                                    <div class="panel-body">#}
{#                                                        <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
                                        </div>
                                        <div class="order-button-payment">
{#                                            <form action="." method="post" class="order-form">#}
{#                                            <p><input type="submit" value="Place order"></p>#}
{#                                                {% csrf_token %}#}
{#                                            </form>#}
{#                                            <input type="submit" value="Разместить заказ" />#}
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-6 col-md-12 col-12">
                            <form action="#">
                                <div class="checkbox-form">
                                    <h3>Billing Details</h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                                <form action="#" method="post" class="order-form">
                                                    <div class="checkout-form-list">
                                                        {% csrf_token %}
{#                                                       {{ form.as_p }}#}
                                                        <p>
                                                            <label for="{{ form.name_org.auto_id }}">{{ form.name_org.label }}: </label>
                                                            <input type="text" name="{{ form.name_org.name }}" value= "{{ form.name_org.value }}" maxlength="170" required="" id="{{ form.name_org.auto_id }}">
                                                        </p>
                                                        <p>
                                                            <label for="{{ form.name_director.auto_id }}">{{ form.name_director.label }}: </label>
                                                            <input type="text" name="name_director" value="{{ form.name_director.value }}" maxlength="170" required="" id="id_name_director">
                                                        </p>
                                                        <p>
                                                            <label for="id_inn">{{ form.inn.label }}:</label>
                                                            <input type="text" name="inn"  value="{{ form.inn.value }}" maxlength="170" required="" id="id_inn"></p>
                                                        <p>
                                                            <label for="id_ur_address">{{ form.ur_address.label }}:</label>
                                                            <input type="text" name="ur_address" value="{{ form.ur_address.value }}" maxlength="170" id="id_ur_address"></p>
                                                        <p>
                                                            <label for="id_post_address">{{ form.post_address.label }}:</label>
                                                            <input type="text" name="post_address" value="{{ form.post_address.value }}"maxlength="170" id="id_post_address"></p>
                                                    </div>
                                                    <p><input type="submit" value="Place order" style="border-radius: 50px;"></p>

                                                </form>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>

           {% endblock %}
            
           

    </body>

